API_KEY = "15954332"
API_HASH = "85adea6f1eaf068b707703b4846a9ced"
OPEN_WEATHER_MAP_APPID = ""
WEATHER_DEFCITY = ""
CHROME_DRIVER = ""
STRING_SESSION = "1ApWapzMBu1maS7vfcD5MuBxA5jXBqxkkDFTeIjH60xlB7s9cbZK8GIOe8uungAvfQ7JT_17USXqOq3agxWDRWLHjMZH9eqklWEX8p6I0CfGM4fBk_ISg13plm4cgRnbHoYLFcKPVqmBgDB5x_l530yJ0QxzAO4Blz-3WUrT4O_wYe-5LjCya1XzkYrpJug-KiKJsD51v9KhPSDU-NyDBG0PLz2vDn1im5QzxUDxxir-Hh0b-rHDwwPucnHUlfODTGzD7F2zyg80dDFa3PCuCJccU8QYeWTL7HTnP5hR4sfUgelT7QqzNylyCseXi_ZYUqLVfDwTemA-iRT9cZQQ3K28wj-pCuUM="
GOOGLE_CHROME_BIN = ""
OCR_SPACE_API_KEY = ""
REM_BG_API_KEY = ""
BOTLOG_CHATID = -1001737573985
BOTLOG = True
LOGSPAMMER = True
CONSOLE_LOGGER_VERBOSE = False
PM_AUTO_BAN = False
DATABASE_URL = ""
YOUTUBE_API_KEY = ""
COUNTRY = ""
TZ_NUMBER = 1
G_DRIVE_CLIENT_ID = ""
G_DRIVE_CLIENT_SECRET = ""
G_DRIVE_AUTH_TOKEN_DATA = ""
TEMP_DOWNLOAD_DIRECTORY = ""
LASTFM_API = None
LASTFM_SECRET = None
LASTFM_USERNAME = None 
LASTFM_PASSWORD = ""
BIO_PREFIX = ""
DEFAULT_BIO = ""
ANTI_SPAMBOT = False
ANTI_SPAMBOT_SHOUT = False
GENIUS = ""
BOT_USERNAME = ""
BOT_TOKEN = ""
GALERI_SURE = 60
WARN_LIMIT = 3
WARN_SURE = 60
